@import "reset.css";

body{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    background-color: gainsboro;
    padding:20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

canvas{
    width:600px;
    height:600px;
    border:1px solid black;
    background-color: white;
    border-radius:10px;
}

.btns{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.color-options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.color-option{
    width:40px;
    height:40px;
    border-radius: 50%;
    cursor:pointer;
    border:5px solid white;
    transition: transform ease-in-out .2s;
}

.color-option:hover{
    transform: scale(1.2);
}

input#color{
    background-color: white;
}

button, label{
    all:unset;

    padding:10px 0;
    text-align: center;
    background-color: royalblue;
    color:white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .1s;
}

button:hover{
    opacity: .85;
}

input#file{
    display:none;
}

input#text{
    all:unset;

    padding:10px 0;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    background-color: white;
    cursor: pointer;
}