.skyblueBackground {
    background-color: skyblue;
  }
  
  .purpleBackground {
    background-color: purple;
  }
  
  .goldBackground {
    background-color: gold;
  }
  
  .whiteText {
    color: white;
  }
  